[submodule "spins"]
	path = spins
	url = https://github.com/utwente-fmt/spins.git
[submodule "ltl2ba"]
	path = ltl2ba
	url = https://github.com/utwente-fmt/ltl2ba.git
[submodule "scoop"]
	path = scoop
	url = https://github.com/utwente-fmt/scoop.git
