.DS_Store
TAGS
\#*\#
*~
*.exe
*.log
*.sum
*.plist
*.dSYM
config.h.in
.libs/
.metadata/
.project
.cproject
.settings
*.dirstamp
aclocal.m4
autom4te.cache/
config.log
config.lt
config.status
configure
doxygen-doc
Makefile
Makefile.in
ltsmin-*.tar.gz
libtool
ltdl
bin/
share/
include/
/src/ltsmin-lib/mucalc-grammar.c
/src/ltsmin-lib/mucalc-grammar.h
/src/ltsmin-lib/mucalc-grammar.out
/src/ltsmin-lib/mucalc-lexer.c
/src/ltsmin-lib/mucalc-lexer.h
/examples/*.lps
/examples/abp.pbes
nbproject
