---
---

@import "{{ site.theme }}";

.page-header {
	background-image: linear-gradient(120deg, #0084ba, #b90000);
}

.main-content {
	h1, h2, h3, h4 {
		color: #0084ba;
	}
	a {
		color: #b90000;
	}
}

pre.highlight {
	background-color: rgba(185,0,0,0.1);
	border-bottom-color: rgba(185,0,0,0.1);
	border-top-color: rgba(185,0,0,0.1);
	border-left-color: rgba(185,0,0,0.1);
	border-right-color: rgba(185,0,0,0.1);
	code {
		color: rgb(185,0,0);
	}
}

img[alt=FMT] { width: 150px;}
