---
---

@import "{{ site.theme }}";

.page-header {
	background-image: linear-gradient(120deg, #0084ba, #b90000);
}

.main-content {
	h1, h2, h3, h4 {
		color: #0084ba;
	}
	a {
		color: #b90000;
	}
}

pre.highlight {
	background-color: rgba(185,0,0,0.1);
	border-bottom-color: rgba(185,0,0,0.1);
	border-top-color: rgba(185,0,0,0.1);
	border-left-color: rgba(185,0,0,0.1);
	border-right-color: rgba(185,0,0,0.1);
	code {
		color: rgb(185,0,0);
	}
}

img[alt=FMT] { width: 150px;}

img[alt=PINS-interface] {height: 200px; padding-left: 100px;}

.navigation {
  background-color: rgba(0,132,186,0.1);
  position: fixed;
  top: 570px;
  left:50%;
  margin-left:-720px;
  display: inline-block;
  padding-right: 20px;
}

nav {
  text-align: right;

  ul {
    font-size: 14px;
    line-height:24px;

    li {
      padding: 5px 0px;
      line-height: 16px;

      &.tag-h1 {
        font-size: 1.2em;

        a {
          font-weight: bold;
          color: #b90000;
        }

        + .tag-h2 {

        }
      }

      &.tag-h2 {

        + .tag-h1 {
          margin-top:10px;
        }
      }
    }

    a {
      color: #b90000;
    }
  }
}


@media print, screen and (max-width: 1060px) {    
  nav{
    display: none;
  }
}

@media print, screen and (max-height: 780px) {
  nav {
    display: none;
  }
}

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}
