*.o
*.a
*.lo
*.la
*.hi
.depend
.depend.bak
.deps/
config.h
etf-convert/etf-convert
gcf-tool/gcf
git_version.h
ltsmin-parse
ltsmin-grammar.c
ltsmin-grammar.h
ltsmin-grammar.out
ltsmin-lexer.c
ltsmin-lexer.h
lempar.c
pins-open
test-bitset
test-dbs
test-dfs-stack
test-dm
test-is-balloc
test-hre
test-mpi-hre
test-ltsmin-parse
test-regroup
test-simplemap
test-vset
hre-test/test-hre
hre-test/test-mpi-hre
ltsmin-compare/ltsmin-compare
ltsmin-convert/ltsmin-convert
ltsmin-printtrace/ltsmin-printtrace
ltsmin-reduce/ltsmin-reduce
ltsmin-reduce-dist/ltsmin-reduce-dist
spg/spgsolver
spins
stamp-h1
subst_pins_open.mk
