*.o
*.a
*.lo
*.la
*.hi
.depend
.depend.bak
.deps/
config.h
etf-convert
stamp-h1
git_version.h
spinjal
subst_pins_open.mk
regroup
test
pins_open
ltsmin-parse
ltsmin-grammar.c
ltsmin-grammar.h
ltsmin-grammar.out
ltsmin-lexer.c
ltsmin-lexer.h
lempar.c
test-bitset
test-is-balloc
test-dfs-stack
test-hre
test-hre-mpi
test-dbs
test-cache
gcf-tool/gcf
hre-test/test-hre
hre-test/test-mpi-hre
ltscmp-one/ltscmp-one
ltstrans/ltstrans
lts-tracepp/lts-tracepp
sigmin-one/sigmin-one
sigmin-mpi/sigmin-mpi
spg/spgsolver
