*.o
*.a
*.hi
.depend
.depend.bak
.deps/
amconfig.h
etf-convert
etf-reach
etf2lts-grey
etf2lts-mpi
ltsmin-convert
ltsmin-mpi
stamp-h1
gcf
git_version.h
lpo-reach
lpo2lts-grey
lpo2lts-mpi
lps-reach
lps2lts-grey
lps2lts-mpi
mpi-event-test
nips-reach
nips2lts-grey
nips2lts-mpi
